[tool.poetry]
name = "mock-alchemy"
version = "0.2.0"
description = "SQLAlchemy mock helpers."
license = "MIT"
homepage = "https://github.com/rajivsarvepalli/mock-alchemy"
repository = "https://github.com/rajivsarvepalli/mock-alchemy"
authors = ["Rajiv Sarvepalli <rajiv@sarvepalli.net>", "Miroslav Shubernetskiy <mail@miki725.com>", "Serkan Hoscai <serkan@hosca.com"]
readme = "README.rst"
keywords = ["sqlalchemy mock testing", "sqlalchemy mock", "mock sqlalchemy"]
documentation = "https://mock-alchemy.readthedocs.io"
classifiers=[
    "Intended Audience :: Developers",
    "Natural Language :: English",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Development Status :: 2 - Pre-Alpha",
]

[tool.poetry.urls]
Changelog = "https://github.com/rajivsarvepalli/mock-alchemy/releases"

[tool.poetry.dependencies]
python = "^3.7"
SQLAlchemy = "^1.3.22"


[tool.poetry.dev-dependencies]
pytest = "^6.2.1"
coverage = {extras = ["toml"], version = "^5.3.1"}
pytest-cov = "^2.10.1"
black = "^20.8b1"
flake8 = "^3.8.4"
flake8-bandit = "^2.1.2"
flake8-bugbear = "^20.11.1"
flake8-import-order = "^0.18.1"
safety = "^1.10.1"
mypy = "^0.790"
typeguard = "^2.10.0"
flake8-annotations = "^2.4.1"
flake8-docstrings = "^1.5.0"
darglint = "^1.5.8"
xdoctest = "^0.15.0"
Sphinx = "^3.4.1"
codecov = "^2.1.11"
sphinx-copybutton = "^0.3.1"
pydata-sphinx-theme = "^0.4.1"
pep8-naming = "^0.11.1"
Pygments = "^2.7.3"
reorder-python-imports = "^2.3.6"
sphinx-autodoc-typehints = "^1.11.1"
sphinx-autobuild = "^2020.9.1"
flake8-rst-docstrings = "^0.0.14"
pre-commit = "^2.9.3"
pre-commit-hooks = "^3.4.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.coverage.paths]
source = ["src", "*/site-packages"]

[tool.coverage.run]
branch = true
source = ["mock_alchemy"]

[tool.coverage.report]
show_missing = true
fail_under = 100
