-r requirements.txt
black
collective.checkdocs
coverage[toml]
flake8
flake8-bugbear
flake8-bandit
flake8-black
flake8-bugbear
flake8-import-order
flake8-annotations
flake8-docstrings
pep8-naming
darglint
safety
mypy
typeguard
xdoctest
Sphinx
isort
codecov
sphinx-copybutton
pydata-sphinx-theme
pytest
pytest-cov
nox
